body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 25px;
    margin: 25px auto;
    max-width: 650px;
    }

    ul {
        margin-top: 0px;
    }

    #maincontent {
        max-width: 38em;
        margin: 15 auto;
        margin-top: 70px;
    }

    h2 {
        margin-bottom: 0px;
    }